Source: ufurmix-gimp-splash
Section: graphics
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: debhelper (>= 5)
XS-Python-Version: all
Standards-Version: 3.8.0

Package: ufurmix-gimp-splash
Architecture: all
Section: graphics
Depends: gimp (>= 2.0), gimp-data
Replaces: gimp-data
Description: A splash screen for GIMP designed for Ubuntu Furry Remix
 Though this splash was designed to fit into Ubuntu Furry Remix environment,
 it doesn't contain any solely "furry" artwork and can be used in environments
 unrelated fo furry fandom. The source is SVG and can be easily modified.
