Source: ufurmix-software-pack
Section: metapackages
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.3

Package: ufurmix-software-pack
Architecture: all
Depends: blender, gthumb, inkscape, create-resources, soundconverter, audacity, ardour, tap-plugins, amb-plugins, compizconfig-backend-gconf, compizconfig-settings-manager, wine, wine-gecko, ubuntu-restricted-extras, rar, unrar, p7zip-full, avfs
Suggests: ufurmix-components-stable
Description: Ubuntu Furry Remix software pack
 This package installs software included in Ubuntu Furry Remix and adds Medibuntu, 
 Pidgin and Furry Remix repositories.
